## Data Staging process for Phase 2 of CSI4142 Project

### 1. Extraction

In [ ]:
# pip install and imports here
import pandas as pd

In [2]:
# Read base dataset in a pandas data frame and print
base_pokemon_df = pd.read_csv("data/base_df_pokemon.csv")
print(base_pokemon_df)

        id          name       rank     generation evolves_from     type1  \
0        1     bulbasaur   ordinary   generation-i      nothing     grass
1        2       ivysaur   ordinary   generation-i    bulbasaur     grass
2        3      venusaur   ordinary   generation-i      ivysaur     grass
3        4    charmander   ordinary   generation-i      nothing      fire
4        5    charmeleon   ordinary   generation-i   charmander      fire
...    ...           ...        ...            ...          ...       ...
1020  1021   raging-bolt   ordinary  generation-ix      nothing  electric
1021  1022  iron-boulder   ordinary  generation-ix      nothing      rock
1022  1023    iron-crown   ordinary  generation-ix      nothing     steel
1023  1024     terapagos  legendary  generation-ix      nothing    normal
1024  1025     pecharunt   mythical  generation-ix      nothing    poison

        type2   hp  atk  def  spatk  spdef  speed  total  height  weight  \
0      poison   45   49   49     65     65     45    318       7      69
1      poison   60   62   63     80     80     60    405      10     130
2      poison   80   82   83    100    100     80    525      20    1000
3         NaN   39   52   43     60     50     65    309       6      85
4         NaN   58   64   58     80     65     80    405      11     190
...       ...  ...  ...  ...    ...    ...    ...    ...     ...     ...
1020   dragon  125   73   91    137     89     75    590      52    4800
1021  psychic   90  120   80     68    108    124    590      15    1625
1022  psychic   90   72  100    122    108     98    590      16    1560
1023      NaN   90   65   85     65     85     60    450       2      65
1024    ghost   88   88  160     88     88     88    600       3       3

                  abilities                                               desc
0     overgrow chlorophyll   A strange seed was planted on its back at birt...
1     overgrow chlorophyll   When the bulb on its back grows large, it appe...
2     overgrow chlorophyll   The plant blooms when it is absorbing solar en...
3        blaze solar-power   Obviously prefers hot places. When it rains, s...
4        blaze solar-power   When it swings its burning tail, it elevates t...
...                     ...                                                ...
1020        protosynthesis                                       Not Available
1021           quark-drive                                       Not Available
1022           quark-drive                                       Not Available
1023            tera-shift                                       Not Available
1024      poison-puppeteer                                       Not Available

[1025 rows x 18 columns]

In [5]:
print("Now we verify the types pandas assigned to our columns")
print(base_pokemon_df.dtypes)
print("dtype = object signifies a string")

Now we verify the types pandas assigned to our columns
id               int64
name            object
rank            object
generation      object
evolves_from    object
type1           object
type2           object
hp               int64
atk              int64
def              int64
spatk            int64
spdef            int64
speed            int64
total            int64
height           int64
weight           int64
abilities       object
desc            object
dtype: object

### 2. Transformation

In [ ]:
#pip install and imports here

### 3. Loading